$cor__primaria      : rgb(52, 102, 52);
$cor__secundaria    : rgb(80, 138, 65);
$cor__intermediaria : rgb(160, 190, 152);
$cor__contraste     : rgb(16, 48, 9);

$min-window-width : 890px;

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-color: $cor__primaria;
}

.logo {
    height: 360px;
}

.secao {
    justify-content: center;
    text-align: center;
    width: 100vw;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, 0.6);
    display: flex;


    &__inicio {
        display: flex;
        background-color: $cor__intermediaria;
    }

    &__detalhes {
        background-color: $cor__secundaria;
        height: 450px;

        img {
            margin-top: -250px;
        }
    }
    &__ondesassistir {
        height: 1000px;
    }
}

.container {
    &__information {
        width: 1000px;
        display: inline-flex;

        span {
            padding: 36px;

            h2 {
                font-size: 26pt;
            }

            h2, p {
                margin: 10px;
            }

        }

    }
}

.texto {
    &__corpo {
        display: flex;
        width: 450px;
        margin: 28px;
        padding: 10px;
    }
}

.imagem {
    &__grande {
        display: flex;
    }

    &__poster {
        margin: 50px;
        width: 320px;
        box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.4);
    }
}

footer {
    color: white;
    background-color: $cor__contraste;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, 0.6);

    margin: 0;
    height: 180px;
}

@media (max-width: $min-window-width) {

    .secao {
        background-color: red;
    }
}