$cor__primaria      : rgb(52, 102, 52);
$cor__secundaria    : rgb(80, 138, 65);
$cor__intermediaria : rgb(160, 190, 152);
$cor__contraste     : rgb(16, 48, 9);
$cor__claro         : rgb(202, 211, 199);

$min-window-width : 890px;

* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    background-color: $cor__primaria;
}

.logo {
    height: 360px;
}

.secao {
    justify-content: center;
    text-align: center;
    width: 100vw;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, 0.6);
    display: flex;


    &__inicio {
        display: flex;
        background-color: $cor__intermediaria;
    }

    &__detalhes {
        background-color: $cor__secundaria;
        height: 450px;

        img {
            margin-top: -250px;
        }
    }
    &__ondesassistir {
        height: 1000px;
    }

    &__video {
        height: 540px;
        background-color: $cor__claro;
    }

    &__footer {
        width: 60vw;
        
        display: inline-flex;
        justify-content: space-between;


    }
}

.container {
    &__information {
        width: 1000px;
        display: inline-flex;

        span {
            padding: 36px;

            h2 {
                font-size: 26pt;
            }

            h2, p {
                margin: 10px;
            }

        }

    }
}

.texto {
    &__corpo {
        display: flex;
        width: 450px;
        margin: 28px;
        padding: 10px;
    }
}

.imagem {
    &__grande {
        display: flex;
    }

    &__poster {
        margin: 50px;
        width: 320px;
        box-shadow: 3px 3px 8px 8px rgba(0, 0, 0, 0.4);
    }
}

.video-incorporado {
    margin: 22px;
}

footer {
    text-align: center;
    align-content: space-between;

    color: white;
    background-color: $cor__contraste;
    box-shadow: 0 -8px 20px 0 rgba(0, 0, 0, 0.6);

    margin: 0;
    padding: 20px;
    height: 180px;

}

.lista__footer {
    list-style-type: none;
    text-align: start;
    justify-content: start;
    padding-left: 0;

    li {
        margin: 8px;
        text-align: start;
        font-size: 14pt;
    }
    
}

.redes {
    font-size: 30pt;
    margin: 16px;

    i {
        margin: 8px;
        cursor: pointer;
    }

    i:hover {
        color: grey;
    }
}

.footer-credits {
    display: block;
    margin-top: 30px;

}

@media (max-width: $min-window-width) {

    .video-incorporado {
        display: none;
    }

    .imagem {
        &__poster {
            display: none;
        }
        &__grande {
           display: none;
        }

    }

    .secao {
        align-items: center;
        justify-content: center;

        &__video {
            display: none;
        }
    }

    .container {
        &__information {
            justify-content: center;
        }
    }

    .logo {
        width: 90vw;
        height: fit-content;
    }
}